.review-form span {
    font-size: 18px;
}

.review-form {
    padding: 10px 0 10px;
}

.review-form input.control {
    border: 1px solid #1a2655;
    margin: 2px 0 0;
    border-radius: 0;
}

.review-form span.control-error {
    font-size: 14px;
    position: static;
    margin: 2px 0 0;
}

.review-form textarea.control {
    margin: 2px 0 0;
    border: 1px solid #1a2655;
    border-radius: 0;
}

.review-form .control-group {
    margin: 0 0 15px;
}