.div_product_desc .div_shipping table {
	width: 100% !important;
}
.div_product_desc .div_save_details
{
    flex-wrap: wrap;
}
.div_product_desc .div_save_details ul {
    width: 100%;
}
ul.available_shipment li {
    margin-bottom: 5px;
}
ul.available_shipment li label {
    font-size: 14px;
    font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
}
.product-detail .m1 {
    margin: 2px 0;
}