.header .header-top div.left-content ul.logo-container li img { max-width: 230px; }
button{
    cursor: pointer;
}
ul.logo-container img {
    max-width: 230px;
}
.header {margin: 0;}
.banner_slider {overflow: hidden;
    height: 400px;
}
.banner_slider_image{
    width: 100%;
    height: 360px;
}
.banner_slider .slick-dots li {
    background: #b1b1b18a;
    border-radius: 50%;
    width: 13px;
    height: 13px;
}



/* Pages CSS  */

/* GLobal Page CSS */
.container1 h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

.box-row.p-t-50.p-b-60 h2,
h1 {
    text-align: center;
}

.box-row.p-t-50.p-b-60 li h3 {
    text-align: center;
    color: #555;
    font-size: 22px;
    font-family: helvetica neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.box-row.cf.p-t-40.p-b-40 header h2
{
    text-align: center;
}

.fb_hidden {
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_reposition {
    overflow: hidden;
    position: relative
}

.fb_invisible {
    display: none
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal
}

.fb_reset>div {
    overflow: hidden
}

@keyframes fb_transform {
    from {
        opacity: 0;
        transform: scale(.95)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.fb_animate {
    animation: fb_transform .3s forwards
}

.fb_dialog {
    background: rgba(82, 82, 82, .7);
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_dialog_advanced {
    border-radius: 8px;
    padding: 10px
}

.fb_dialog_content {
    background: #fff;
    color: #373737
}

.fb_dialog_close_icon {
    background: url(//static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 17px;
    width: 15px
}

.fb_dialog_mobile .fb_dialog_close_icon {
    left: 5px;
    right: auto;
    top: 5px
}

.fb_dialog_padding {
    background-color: transparent;
    position: absolute;
    width: 1px;
    z-index: -1
}

.fb_dialog_close_icon:hover {
    background: url(://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
}

.cart-wish-wrap a {
    display: none !important;
}

.fb_dialog_close_icon:active {
    background: url(://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
}

.fb_dialog_iframe {
    line-height: 0
}

.fb_dialog_content .dialog_title {
    background: #6d84b4;
    border: 1px solid #365899;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0
}

.fb_dialog_content .dialog_title>span {
    background: url(://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
    float: left;
    padding: 5px 0 7px 26px
}

body.fb_hidden {
    height: 100%;
    left: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: -10000px;
    transform: none;
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading {
    background: url(//static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10001
}

.fb_dialog.fb_dialog_mobile.loading.centered {
    background: none;
    height: auto;
    min-height: initial;
    min-width: initial;
    width: auto
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
    background: none
}

.loading.centered #fb_dialog_loader_close {
    clear: both;
    color: #fff;
    display: block;
    font-size: 18px;
    padding-top: 20px
}

#fb-root #fb_dialog_ipad_overlay {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000
}

#fb-root #fb_dialog_ipad_overlay.hidden {
    display: none
}

.fb_dialog.fb_dialog_mobile.loading iframe {
    visibility: hidden
}

.fb_dialog_mobile .fb_dialog_iframe {
    position: sticky;
    top: 0
}

.fb_dialog_content .dialog_header {
    background: linear-gradient(from(#738aba), to(#2c4987));
    border-bottom: 1px solid;
    border-color: #1d3c78;
    box-shadow: white 0 1px 1px -1px inset;
    color: #fff;
    font: bold 14px Helvetica, sans-serif;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
    vertical-align: middle;
    white-space: nowrap
}

.fb_dialog_content .dialog_header table {
    height: 43px;
    width: 100%
}

.fb_dialog_content .dialog_header td.header_left {
    font-size: 12px;
    padding-left: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .dialog_header td.header_right {
    font-size: 12px;
    padding-right: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .touchable_button {
    background: linear-gradient(from(#4267B2), to(#2a4887));
    background-clip: padding-box;
    border: 1px solid #29487d;
    border-radius: 3px;
    display: inline-block;
    line-height: 18px;
    margin-top: 3px;
    max-width: 85px;
    padding: 4px 12px;
    position: relative
}

.fb_dialog_content .dialog_header .touchable_button input {
    background: none;
    border: none;
    color: #fff;
    font: bold 12px Helvetica, sans-serif;
    margin: 2px -12px;
    padding: 2px 6px 3px 6px;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog_content .dialog_header .header_center {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    vertical-align: middle
}

.fb_dialog_content .dialog_content {
    background: url(//static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
    border: 1px solid #4a4a4a;
    border-bottom: 0;
    border-top: 0;
    height: 150px
}

.fb_dialog_content .dialog_footer {
    background: #f5f6f7;
    border: 1px solid #4a4a4a;
    border-top-color: #ccc;
    height: 40px
}

#fb_dialog_loader_close {
    float: left
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
    visibility: hidden
}

#fb_dialog_loader_spinner {
    animation: rotateSpinner 1.2s linear infinite;
    background-color: transparent;
    background-image: url(//static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.fb_iframe_widget {
    display: inline-block;
    position: relative
}

.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify
}

.fb_iframe_widget iframe {
    position: absolute
}

.fb_iframe_widget_fluid_desktop,
.fb_iframe_widget_fluid_desktop span,
.fb_iframe_widget_fluid_desktop iframe {
    max-width: 100%
}

.fb_iframe_widget_fluid_desktop iframe {
    min-width: 220px;
    position: relative
}

.fb_iframe_widget_lift {
    z-index: 1
}

.fb_iframe_widget_fluid {
    display: inline
}

.fb_iframe_widget_fluid span {
    width: 100%
}
.div_banner {
    margin: 0;
}

.div_banner .banner {
    background-size: cover;
    border: 0px solid red;
    height: 300px;
    margin: 0;
    padding: 0;
}

.div_navigator .banner-content li.active a {
    color: darkred;
    transition-duration: 500ms;
}
.div_navigator {
    background-color: rgba(200, 200, 200, 1);
    padding: 0;
    margin: 0;
}

.div_navigator .banner-content {
    border: 0px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.div_navigator .banner-content li {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    list-style-type: none;
    border: 0px solid green;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 120%;
}

.div_navigator .banner-content li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500%;
    color: gray;
    transition-duration: 500ms;
}

/* ABout Page CSS */
.my_h1 {
    margin-block-start: 0.67em;
}
.div_about_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: stretch;
    border: 0px solid red;
    min-width: 1000px;
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.div_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    min-width: 500px;
    border: 0px solid red;
}
.div_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    min-width: 500px;
    border: 0px solid red;
}

.page-about p{
    font-family: 'Roboto';
    color: rgb(102,102,102);
    font-size: 18px;
    font-weight: 100;
}


.div_navigator .banner-content li a:hover {
    color: darkred;
    transition-duration: 500ms;
}

.page-about .banner-content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*  PArtner Page CSS */

.div_form_partnership {
    border: 0px solid red;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    display: inline-block;
    position: relative;

}

.div_form_partnership input[type="text"],
.div_form_partnership input[type="email"] {
    border: 0px solid red;
    width: 100%;
    height: 45px;
    color: gray;
    border: 1px solid gray;
    padding: 15px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
}

.div_form_partnership textarea {

    width: 100%;
    height: 140px;
    color: gray;
    border: 2px solid gray;
    padding: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    resize: none;
}

.div_partnership_container {
    background-image: url("../images/partnership.png");
    background-size: cover;
    width: 100%;
    height: 600px;
}

.div_partnership_container a {
    text-decoration: none;
    color: white;
    background-color: grey;
    border: 0px solid;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 4px;
    display: block;
    text-align: center;
    border-radius: 3px;
}

.div_complex_form {
    position: relative;
    display: block;
    width: 400px;
    border: 0px solid black;
    float: right;
    right: 100px;
}

.div_complex_form h1 {
    color: black;
    font-size: 1.6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;

    margin: 0;
}
.div_complex_form h2 {
    color: black;
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;

    margin: 0;
}

/* Press Room CSS*/
.div_press_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px solid black;
    background-color: rgba(180, 180, 180, 0.2);
}

.div_press_container .div_press_item {
    width: 80%;
    background-color: white;
    border: 1px solid rgba(190,190,190,1);
    border-radius: 2px;
    margin: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 15px;
}

.div_press_container .div_press_item .div_title {
    color: darkred;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px solid red;
    margin: 10px;
    padding: 2px;
}

.div_press_container .div_press_item .div_auther {
    color: black;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px solid red;
    margin: 10px;
    padding: 2px;
}

.div_press_container .div_press_item .div_auther p {
    color: blue;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    padding: 2px;
}

.div_press_container .div_press_item .div_text {
    color: black;
    font-size: 15;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px solid red;
    margin: 10px;
    padding: 2px;
}

.div_press_container .div_press_item .div_actions {
    color: black;
    font-size: 15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px solid red;
    margin: 10px;
    padding: 2px;
    margin-bottom: 30px;
}

.div_press_container .div_press_item .div_actions a {
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid darkblue;
    background-color: darkblue;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

/* Company NEWS */
.page-news .div_news_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border: 0px solid black;
}

.page-news .div_news_container .div_news_item {
    display: inline-block;
    position: relative;
    border-radius: 3px;
    width: 600px;
    height: 300px;
    border: 0px solid red;
    margin: 20px;
    padding: 0px;
    overflow: hidden;
}

.page-news .div_news_container .div_news_image {
    width: 100%;
    height: 100%;
    border: 0px solid fuchsia;
    margin: 0;
    position: absolute;
}

.page-news .div_news_container .div_news_data {
    width: 100%;
    height: 100%;
    border: 0px solid forestgreen;
    margin: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.page-news .div_news_container .div_news_item .div_news_data .div_line1,
.page-news .div_news_container .div_news_item .div_news_data .div_line2 {

    border: 0px solid red;
}

.page-news .div_news_container .div_news_item .div_news_data .div_line1 {
    color: white;
    font-size: 17px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 3px gray;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
}

.page-news .div_news_container .div_news_item .div_news_data .div_line2 {
    color: white;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 3px black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
}

.page-news .div_news_container .div_news_item .div_news_data .div_line1 p.s1,
.page-news .div_news_container .div_news_item .div_news_data .div_line1 p.s2 {
    text-shadow: 0px 0px 2px black;
    display: inline;
    padding: 3px 15px 3px 15px;
    border-radius: 5px;
    color: white;
}

.page-news .div_news_container .div_news_item .div_news_data .div_line1 p.s1 {
    background-color: orange;
}

.page-news .div_news_container .div_news_item .div_news_data .div_line1 p.s2 {
    background-color: violet;
}

/* End Pages CSS */



.slick_slider, .mypicks, .thumb-list,.product_slider{
    display: none;
}

.dropdown-toggle {
    display: flex!important;
    align-items: center;
    background: #2a8c4f;
    padding: 4px;
    border-radius: 3px;
}
.banner_slider li.slick-active:nth-child(3) { background: #ff2373;}
.banner_slider li.slick-active:nth-child(4) { background: #2e1f5a;}
.banner_slider li.slick-active:nth-child(5) { background: #111a44;}
.banner_slider li.slick-active:nth-child(6) { background: #43488e;}
.banner_slider li.slick-active:nth-child(7) { background: #ec078d;}
.banner_slider li.slick-active:nth-child(1) { background: #a00b21;}
.banner_slider li.slick-active:nth-child(2) { background: #fcaf17;}
.featured-heading.categories{
    display: flex;
    margin-bottom: 20px;
    width: 100%; border-bottom: 1px solid #e4e4e4;
    flex-direction: column; padding: 0 0 15px;
    font-size: 18px;
    color: rgba(0,0,0,.54);
}
.product-information a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; line-clamp: 1; color: rgba(140,138,138,.8);
    -webkit-box-orient: vertical; box-orient: vertical;
    font-size: 13px;
}
.product-information .product-name {
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
    width: 90%;
}
.product-information .btn.btn-primary, .btn.btn-primary {
    background: #eff1f3!important;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec)!important;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec)!important;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    color: #111!important;
    font-size: 13px;
}
.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .item-details .item-name {
    color: #808080;
    letter-spacing: .4px;
    font-size: 13px;
}
.header .header-top .item-price b {
    color: #808080;
}
.header .header-top .dropdown-footer a { color: #808080; }
.main .category-container .category-block .hero-image img {display: none; height: auto;  width: 50%;}
.main .category-container .category-block .hero-image { text-align: center; }
.all_categories .product-image img {
  height: auto !important;
  margin: 20px auto !important;
  width: 70px !important;
}
.product-information .product-price {
    display: flex;
    justify-content: space-between;
}
.product-information .product-price span {
    font-size: 13px;
}
.product-information span.red {
    font-size: 13px;
    font-weight: 800;
}
.top.all_categories ul.mycats li {
    margin: 13px;
    width: 9%;
}
.top.all_categories ul.mycats {
    text-align: center;
    display: flex; width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}
.top.all_categories ul.mycats h4 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .2px;
    margin: 0 auto;
    color: rgba(140,138,138,.8);
    width: 80%;
    line-height: 17px;
}
ul.logo-container {
    display: flex;
    align-items: center;
}
ul.slick-dots li button { width: 13px; height: 13px; }
ul.slick-dots li button::before {display: none;}
ul.logo-container li {
    margin-right: 10px;
}
.all_categories_right img {  width: 60%;  margin: 0 auto 20px;}

.all_categories_left {width: 75%; float: left;}
.all_categories_right {width: 25%; text-align: center; float: left; margin-top: 90px;}
ul.mycats img { width: 90px; height: 90px; }
.all_categories {margin: 50px 0;}
.top.all_categories {
    display: flex;
    flex-direction: column; align-items: center;
}
.mycats .right span {
    border: 5px double rgb(150, 150, 150);
    border-radius: 10px 0 10px 0px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
}

.box-design-product .slick-initialized .slick-slide {
    padding: 5px;
    margin-left: 0;
    margin-right: 10px;
    border: 1px solid #dcdcdc;
    position: relative;
    height: 182px !important;
    display: flex;
    align-items: center;
    width: 145px !important;
}
.product-name span {
    font-size: 85%;
}
.box-design-product span.discount_offer {
    background-color: dodgerblue;
    color: white;
    width: 38px;
    height: 38px;
    position: absolute;
    margin: 0;
    top: -1px;
    left: -1px;
    font-size: 13px;
    text-align: center;
    padding-top: 4px;
}
.box-design-product .product-information {
    width: 80%;
    margin: auto;
}
.banner-logo {  margin: 30px 0 30px; }

.bottom-row-log ul li span {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .2px;
}
.bottom-row-log {
    text-align: center;
    display: flex;
    flex-direction: row;
}
.bottom-row-log ul {
    display: flex;     flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.bottom-row-log li {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 16px;
}
.bottom-row-log li img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}
/*.top.all_categories .all_categories_inner {display: flex;}*/
.all_categories_inner .slick-slide >div { width: 100%;}
.all_categories_inner {
    width: 95%;
    margin: auto;
}
.box-design-product .all_categories_inner .slick-slide div.product-information {
    width: 80%;
}
.account-content .menu-block .menubar li {margin: auto;}

.right-navigation-top ul li {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #cecece;
}

.right-navigation-top ul li:first-child {
    border: none;
    padding: 0;
    margin: 0;
}

.header ul.logo-container li a ,.header .right-navigation-top ul li a{
    font-size: 13px;
    color: #808080;
}
.header .header-top div.left-content ul.search-container li.search-group .search-field {
    border: none; text-align: center;
    border-radius: 3px 0 0px 3px; padding-left: 40px;
}
.footer .footer-content .footer-list-container .list-container ul.list-group.social_icons {
    border: none;
    justify-content: center;
}

.footer .footer-content .footer-list-container .list-container ul.list-group.social_icons li i {
    font-size: 20px;
}
.search-group form::before {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 20px;
    margin-top: 7px;
    margin-left: 10px;
}
.header .header-top div.left-content ul.search-container li.search-group .search-icon-wrapper button {
    color: #fff;  background-color: rgb(100, 100, 100); font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.4px;
    padding: 2px 5px;
}
.header .header-top div.left-content ul.search-container li.search-group .search-icon-wrapper {
    height: auto;
    width: auto;
    background-color: rgb(100, 100, 100);
    padding: 8px; border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.header .header-top li.search-group select {
    background: #ededed;
    border: none;
    border-radius: 0;
    padding: 0 10px;
}
div#header {margin: 0;}
.header .header-top {
    margin: 0;
    background: black;
    padding: 16px 0;
}
.full-column {
    float: left;
    width: 100%;
}
.checkout-process .col-main {
    margin-right: 2%;
}
.checkout-process .col-main, .checkout-process .col-right {
    width: 49%;
    float: left;
}

.checkout-process .full-column ul.checkout-steps {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #c7c7c7;
}

.checkout-process .full-column ul.checkout-steps li .decorator {
    height: 48px;
    width: 48px;
    border: 1px solid #000;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid #c7c7c7;
    background-repeat: no-repeat;
    background-position: 50%;
}

form#checkout_formdetails {
    display: inline-block;
    width: 100%;
}
.checkout-process .col-main .step-content .form-header .btn {
    float: left;
    margin-bottom: 20px;
}

.checkout-process .full-column ul.checkout-steps li {
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkout-process .full-column ul.checkout-steps li .decorator.address-info {
    background-image: url(../images/address.svg);
}

.checkout-process .full-column ul.checkout-steps li .decorator.shipping {
    background-image: url(../images/shipping.svg);
}

.checkout-process .full-column ul.checkout-steps li .decorator.payment {
    background-image: url(../images/payment.svg);
}

.checkout-process .full-column ul.checkout-steps li .decorator.review {
    background-image: url(../images/finish.svg);
}

.checkout-process .full-column ul.checkout-steps li span {
    margin-left: 7px;
    margin-top: auto;
    margin-bottom: auto;
}


.right-navigation-top ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right-navigation-top .dropdown-toggle span.name {
    font-size: 0;
}
.all_categories .slick-arrow {
    position: absolute;
    top: -62px;
    right: 0;
    padding: 5px 12px;
}
.all_categories .slick-arrow.rgt-btn i , .all_categories .slick-arrow.lft-btn i {margin: 0;}
.all_categories .slick-arrow.rgt-btn {
    background: #4472c4;
    color: #fff; cursor: pointer;
        display: none !important;
}
.icon-search {width: 20px; height: 20px;}
.all_categories .slick-arrow.lft-btn {
    right: 40px;
    display: none !important;
    background: #4472c4; cursor: pointer;
    color: #fff;
}
.right-navigation-top .dropdown-toggle span.name span.count {
    font-size: 12px; color: #fff;
}
.right-navigation-top ul li:last-child {
    border: none;
    padding: 0;
}
.right-navigation-top .dropdown-toggle .cart-icon {width: 20px; height:20px;    background-image: url(../images/icon-cart.gif);}
.header .dropdown-toggle div {
    display: flex!important;
    align-items: center;
    background: #2a8c4f;
    padding: 4px;
    border-radius: 2px;
}
ul.logo-container li:nth-child(2) {
    border-right: 1px solid #cecece;
    padding-right: 10px;
}

ul.logo-container li:nth-child(1) {
    margin-right: 20px;
}

ul.logo-container li:last-child {
    margin-right: 0;
    border: 1px solid black;
    padding: 6px 24px;
}
.top-header { padding: 7px; }
.top-header-inner {

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-navigation-top ul li a {
    color: #fff!important;
    letter-spacing: .5px;
    font-size: 15px;
    font-weight: normal;
}

.header .header-top div.left-content ul.search-container li.search-group form {max-width: 90%;}
.header .header-top div.left-content ul.search-container li.search-group , .header .header-top div.left-content ul.search-container li.search-group form, .header .header-top div.left-content ul.search-container li.search-group .search-field, .search-container , .search-offer {width: 100%;}
.header .header-top div.left-content {width: 100%;}
ul.offer-links {
    display: flex;
    justify-content: space-between;
    max-width: 90% !important;
    margin: 10px auto 0;
    background-color: #ededed;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 4px;
}
ul.offer-links li {
    font-size: 13px;
    border-left: 1px solid #d8d5d5;
    padding: 5px 7px; width: 100%; text-align: center;
}
ul.offer-links li a{ color: #242424}
ul.offer-links li:first-child { border: none; }
.header-top-inner {    display: flex;  justify-content: flex-end;}
#header .main-container-wrapper {width: 100%; max-width: 100%;}
.footer-bottom {margin: 0; height: auto; padding: 8px 0 10px;     background: #f2f2f2;}
.footer-bottom p { padding: 0;  margin: 0;      font-size: 12px; letter-spacing: 0.5px;}
.footer .footer-content .footer-list-container {   padding: 10px 0 0 0; display: flex;     flex-direction: column; align-items: center; justify-content: center; width: 100%;}
.footer .footer-content .footer-list-container .list-container .list-group {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    border-bottom: 1px solid #1a2655;
    border-top: 1px solid #1a2655;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify; width: 100%;
}
.footer-list-container .list-container {
    display: flex;
    width: 100%;
    align-items: center;     margin: 10px 0;
    justify-content: center;
}
.footer .footer-content .footer-list-container .list-container .list-group li a {
    font-size: 13px;
    font-weight: 600;
    color: #1a2655;
}
.footer .footer-content .footer-list-container .list-container .list-group li {
    margin: 0;
    padding: 10px 15px;
    transition: .3s;
    position: relative;
}
.footer .footer-content .footer-list-container .list-container .list-group li::after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #1a2655;
    content: '';
    position: absolute;
    z-index: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.footer .footer-content .footer-list-container .list-container .list-group li:hover a {
    color: #fff; z-index: 2;  position: relative;
}
.footer .footer-content .footer-list-container .list-container .list-group li:hover:after, .footer .footer-content .footer-list-container .list-container .list-group li:active:after {
    height: 100%;
}
.list-container.footer-logo img {
    max-width: 250px;
    width: 100%;
}
.footer {    padding: 0 7% 0;}


.footer .footer-content .footer-list-container .list-container:nth-child(2), .footer .footer-content .footer-list-container .list-container span {display: none;}
.banner_slider img {width: 100%;}




.wizard-content .control-group , .edit-form .control-group  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}
.edit-form {
    border: none;
    background: #fafafa;
    margin-top: 20px;
}
.wizard-content .control-group.textarea {
    align-items: baseline;
}
.wizard-content .control-group .control , .edit-form .control-group .control {
    height: 50px;
    border-radius: 0;
    border: 1px solid #f0f0f0;
    width: 100%;
}
.wizard-content .control-group label , .edit-form .control-group label {
    max-width: 150px;
    width: 95%;
    text-align: right;     color: #979797;
    margin-right: 3%;
}



.control-group span#sku {
    position: absolute;
    right: 10px;
    top: 15px;
}
span.show_cats {
    color: #fcaf17;
}
.account-content .account-layout {
    margin-left: 40px;
    width: 80%;
    background: #fafafa;
    padding: 10px 34px 30px;
}
.wizard-header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #a9a9a9;
    background: #fafafa;
    padding-top: 20px;
    padding-left: 0;
}

.wizard-header h3, .wizard-header h4 {
    margin: 0;
    font-size: 20px;
    color: #727272;
    font-weight: 500;
}

.wizard-header span {
    font-size: 15px;
    color: #9e9e9e;
}
.cats_content .control-group.text::before {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    color: #1a2655;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0; z-index: 100;
    left: 2%;
    top: 25px;
}
.account-content .menu-block .menubar li.active a {  color: #fcaf17; }
.current_selected {
    display: flex!important;
    align-items: baseline;     margin: 20px 0;
}
.cats_content ul#myTable {
    width: 100%; margin: 20px 0;

}
.current_selected 	a  {margin-left: auto;}
li.cart-wishlist {
    border-radius: 3px;
    background-color: crimson;
    color: white;
    padding: 8px;
    margin: 2px;
    border: none;
}

li.cart-wishlist i {
    color: #fff;
}

.right-navigation-top ul li:nth-child(3) {
    border: none;
}
.rating-header a.btn.btn-primary {
    background: transparent!important;
    font-size: 20px;
    box-shadow: none;
    border: none;
    color: #fcaf17!important;
    border: 1px solid #fcaf17!important;
    border-radius: 5px!important;
}
.full-description span, .full-description a , .description span, .description a, .full-description p, .description p {
    color: rgba(140,138,138,.8)!important;
    font-size: 17px;
    line-height: 28px;
    font-family: Montserrat,sans-serif!important;
    letter-spacing: 0.5px;
}
.add-to-buttons .btn.btn-primary {
    box-shadow: none;
    margin-right: 15px;
    background: #fcaf17!Important;
    color: #fff!important;
    font-size: 19px;
    border: none;
    letter-spacing: 0.5px;
    max-width: 180px;
    width: 100%;
    padding: 11px;

}

.quantity.control-group {
    display: flex;
    align-items: center;
}

.quantity.control-group label {
    margin-right: 20px;
}

.add-to-buttons .btn.btn-primary:last-child {
    background: #bb2025!Important;
}
.full-description p , .description p{
    margin: 0;
}
.cats_content ul#myTable li span.arrow a {color: #808080;}
.cats_content ul#myTable li span.arrow {
    position: absolute;
    right: 0;
    font-size: 20px;
}
span.control-error {
    position: absolute;
    right: 0;
    bottom: -15px;
    font-size: 12px;
    z-index: 10000;
}
.account-content .menu-block .menubar  {border: 1px solid #e5e5e5;}
.account-content .menu-block .menubar li {  width: 100%;     padding: 10px;     border-bottom: 1px solid #ececec;     margin: auto; }
.cats_content ul#myTable ul {
    position: absolute;
    width: 100%;
    right: -100%;
    top: 0;
    display: flex;
    align-items: center;
}

.cats_content ul#myTable ul li {
    width: 90%;
    margin: 0 0 0 10%;
}
.cats_content ul#myTable li:focus label, ul#myTable li:hover label {  color: #fcaf17; }
.current_selected h4 {
    max-width: 150px;
    width: 95%;
    text-align: right;
    margin: 0 3% 0 0;
}
.wizard2 .current_selected h4 {  font-size: 15px; }
.cats_content ul#myTable input {
    opacity: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
}
.cats_content ul#myTable li label {cursor: pointer;}
.cats_content ul#myTable li {
    position: relative;
    margin: 10px 4px;
    cursor: pointer;
    width: 33.33%;
    align-items: center;
    color: #9e9e9e;
}
.submit_product input.btn.btn-primary , .edit-form input.btn.btn-primary{
    background: #fcaf17!important;
    box-shadow: none!important;
    border: none;
    color: #fff!important;
    font-size: 16px;
    margin-top: 20px;
}
.cats_content .control-group.text {
    display: flex;
    background: #fafafa;
    align-items: center;
}

.cats_content .control-group.text input {
    width: 100%;
    margin: 10px auto;
    position: relative;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 6%;
}
.control-group.text.shiping-content span {
    margin: 0 10px;
}
.shipping_item {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.shipping_data .control-group.text.shiping-content input {
    width: 100%;
    border: 1px solid #f0f0f0;
    height: 39px;
    margin-bottom: 20px;
    background: white;
}
#variable .save_attr_data, #variable .new_variation a {
    background: #1c2756d6;
    padding: 8px 15px;
    display: inline-flex;
    margin-top: 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.1px;
}
.upload_repeater label {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload_repeater label input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.cats_content ul#myTable li.cat_active {
    color: #fcaf17;
}
.form_uploader label.new_image a{
    background: #1c2756;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    max-width: 200px;
    width: 100%;
    margin: 15px 0;
    color: #fff;
}


.form_uploader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.upload_repeater label.image-item label.remove-image::before {
    content: "\f00d";
    position: absolute;
    font-size: 20px;
    font: normal normal normal 14px/1 FontAwesome;
    color: white;
    right: 4px;
    top: 2px;
}

.upload_repeater label.image-item {
    height: 100px;     display: flex;
    border: 1px dashed #1c2756;
    justify-content: center; border-radius: 10px;
    align-items: center;
    line-height: 100px; background: #fff;
    text-align: center;
    margin-bottom: 10px;
}

/*.upload_repeater label.image-item {
    height: 200px;
    border: 1px dashed #1c2756;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    line-height: 100px;
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
}*/

.upload_repeater label.image-item label.remove-image{
    font-size: 0; cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #1c2756;
    right: -3px;
    top: 2px;
    border-radius: 50%;
}
.next_info a{
    background: #1c2756;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 4px;
    max-width: 180px;
    width: auto;
    margin: 15px 0;  color: #fff;
}


.upload_repeater {
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    width: 100%;
    align-items: center;
    text-align: center;
}
.upload_repeater label.image-item img {  width: 64%; }
.shipping_data .control-group.text.shiping-content {  align-items: baseline; }







.expend_details {
    width: 100%;
}
.expend_details input[type="text"] {
    height: 33px;
    padding: 0 10px;
}

.add_shipping > label:first-child {
    max-width: 250px;
    text-align: left;
}

.add_shipping {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.shipping-fee {width: 100%;}

.shipping_item .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.shipping_item .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.shipping_item .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.shipping_item .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.variation_item {
    margin: 0 1px;
    width: 19.7%;
    float: left;
}
.shipping_item input:checked + .slider {
    background-color: #1c2756;
}

.shipping_item input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.shipping_item input:checked + .slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
}

.shipping_item .slider.round {
    border-radius: 34px; width: 76px;
}

.shipping_item .slider.round:before {
    border-radius: 50%;
}
.shipping_item label.switch {
    width: 13% !important; margin: 0;
}
.variation_item select, .variation_item input {
    height: 50px;
    border-radius: 0;
    border: 1px solid #f0f0f0;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
div#variable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.remove_variations i {
    background: #1c2756;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-left: -8px;
    position: absolute;
    top: 13px;
}
div.variation-dynamic{
    display: flex;
    justify-content: space-around; position: relative; align-items:center;
}

.variation_item {
    margin: 0 1px;
    width: 30%;
}
#variable .left-section li a {
    color: #979797;
    width: 100%;
    padding: 10px;
    display: block;
}
#variable .left-section li a.attr_active {
    background: #3f4970;
    display: block;
    padding: 10px;
    color: #fff;
}
#variable .left-section {
    max-width: 150px;
    width: 95%;
    text-align: right;
    color: #ffffff;
    margin-right: 3%;
    background: white;
}
#variable .left-section ul li {
    border-bottom: 1px solid #fafafa;
}
#variable .left-section ul li:last-child { border: none; }
#variable .right-section {  width: 100%; }
ul.chosen-choices {
    box-shadow: none;
    background: #fff;
    border: none!important;
    padding: 8px!important;
    background-image: none!important;
}
.common_slider_class .slick-arrow.lft-btn {
    right: 40px;
    margin-right: 4px;
    background: #4472c4;
    cursor: pointer;
    color: #fff;
}

.common_slider_class .title {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    flex-direction: column;
    padding: 0 0 15px;
    font-size: 18px;
    color: rgba(0,0,0,.54);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.common_slider_class .slick-arrow.rgt-btn {
    background: #4472c4;
    color: #fff;
    cursor: pointer;
}
.common_slider_class .slick-arrow {
    position: absolute;
    top: -62px;
    right: 10px;
    padding: 5px 12px;
}
.common_slider_class .slick-initialized .slick-slide {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #dcdcdc;
    height: 390px;
    display: flex;
    align-items: center;
}
.common_slider_class .cart-fav-seg {
    display: flex;
    justify-content: space-around;
}
.attached-products-wrapper.common_slider_class {
    margin: 80px 0 0 0;
}
.main-container-wrapper .common_slider_class .product-card:hover {
    outline: none; box-shadow: none;
}
.right-navigation-top .dropdown-cart .item-image img {
    max-width: 200px;
    margin: auto;
    width: 100%;
}

/* Single Product Page CSS */
.div_content {
    border: 0px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.div_content * {
    box-sizing: border-box;
}

.div_product_images {
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 3px;
}

.div_product_images .img_product {
    border: 1px solid gray;
    box-shadow: 0px 3px 5px 1px gray;
    margin: 5px;

}

.div_product_images .btn_sell_now {
    border: 1px solid rgb(200, 200, 200);
    ;
    color: rgb(45, 108, 202);
    padding: 5px 10px 5px 10px;
    margin: 1px;
    box-shadow: 0px 2px 4px 0px rgb(171, 171, 171);
    text-decoration: none;
    font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.div_product_images .div_sell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px solid red;
    padding: 3px;
}

.div_product_desc {
    border: 0px solid red;
    padding: 3px;

    background-color: white;
}

.div_product_desc .div_title_stat {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.div_product_desc .div_title_stat .fas.fa-star {
    color: rgb(241, 141, 24);
}

.div_product_desc .div_save_details {
    color: rgb(82, 82, 82);     display: flex;     align-items: center;
}

.div_product_desc .div_buy_add {
    /*display: flex;*/
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

/*.div_buy_add .btn_buy {
    border: 1px solid grey;
    border-radius: 3px;

    background-image: url();
    background-position-x: 1px;
    background-position-y: 1px;
    color: rgb(82, 82, 82);
    display: inline-block;
    padding: 5px 10px 5px 10px;
    width: 150px;
    text-align: center;
    background: -moz-linear-gradient(top, rgb(254, 252, 234) 0%, rgb(241, 218, 54) 100%);
    background: -webkit-linear-gradient(top, rgb(254, 252, 234) 0%, rgb(241, 218, 54) 100%);
    background: linear-gradient(to bottom, rgb(254, 252, 234) 0%, rgb(241, 218, 54) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f1da36', GradientType=0);
}*/

.proceed_checkout.global-btn {
    text-align: right;
    margin-top: 43px;
}

.proceed_checkout.global-btn a {
    width: 65%;
}

.global-btn .btn_style {
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    background-image: url();
    background-position-x: 1px;
    background-position-y: 1px;
    color: rgb(82, 82, 82);
    display: inline-block;
    padding: 5px 10px 5px 10px;
    width: 150px;
    text-align: center;
    background: -moz-linear-gradient(top, rgb(254, 252, 234) 0%, rgb(241, 218, 54) 100%);
    background: -webkit-linear-gradient(top, rgb(254, 252, 234) 0%, rgb(241, 218, 54) 100%);
    background: linear-gradient(to bottom, rgb(254, 252, 234) 0%, rgb(241, 218, 54) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f1da36', GradientType=0);
}

div#tab_ship h3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.div_container_social {
    display: flex;
    margin: 20px 0 0;
    justify-content: space-around;
}
#tab_ship ul.available_shipment {margin-bottom: 20px;}

.div_product_desc .div_social .btn_blue {

    border-radius: 4px;
    background-color: rgb(70, 100, 180);

    background-position-x: 1px;
    background-position-y: 1px;
    color: white;
    display: inline-block;
    padding: 5px 10px 5px 10px;

}

.div_product_desc .div_shipping {
    border: 0px solid red;
    background-color: white;

}

.div_product_desc .div_shipping .tbl {
    border: 0px solid red;
    color: rgb(82, 82, 82);

}

.div_product_desc .div_shipping .tbl tr td:nth-child(2) p {

    color: rgb(82, 82, 111);
    font-size: 14px;
    font-weight: 1;
}

.div_product_desc .div_shipping .tbl tr td:nth-child(1) {

    display: inline-block;

}

.div_product_desc .div_shipping .tbl td {
    border: 0px solid red;

}

.div_product_desc p {
    padding: 2px;
    margin: 2px;
}

.div_product_extra {
    border: 0px solid red;
}

.div_product_extra .div_shop_confidence .div_card * {
    border: 0px solid red; text-align: left;
}

.div_product_extra .div_shop_confidence .div_card {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    margin: 8px;
    padding: 10px;
    box-shadow: 0px 1px 1px 0px #e4e4e4;
    background-color: white;
}

.div_product_extra .div_shop_confidence .div_card li a {
    color: dodgerblue;
    text-decoration: none;

}

.div_product_extra .div_shop_confidence .div_card .div_header {
    padding: 5px;
}

.div_product_extra .div_shop_confidence .div_card .div_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px solid red;
    margin-bottom: 12px;
}

.div_product_extra .div_shop_confidence .div_card .div_item .div_left_side .img {

    margin: 10px;

}
.div_products_row {
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    overflow: hidden;
}

.div_products_row .div_header {
    border: 0px solid darkmagenta;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
}

.div_products_row .div_header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    padding: 2px;
    color: black;
    text-transform: capitalize;
    text-align: left;
}

.div_products_row .div_s_products {
    border: 0px solid darkmagenta;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.div_products_row .div_s_products .div_item {
    border: 0px solid gray;
    width: 200px;
    height: 200px;
    display: inline-block;
    padding: 0;
    position: relative;
}

.div_s_products .div_item .div_data {
    border: 0px solid greenyellow;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.product-detail .div_item p.bold {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-detail .div_item p s {
    color: gray;
    font-size: 0.7em;
}

.product-detail .div_item p {
    color: dodgerblue;
    font-size: 0.8em;
    text-align: center;
}

.product-detail .div_s_products .div_item .div_discount {
    border: 0px solid red;
    background-color: dodgerblue;
    color: white;
    width: 38px;
    height: 38px;
    position: absolute;
    margin: 0;
}

.product-detail .btn_more {
    border: 2px solid dodgerblue;
    border-radius: 3px;
    background-color: white;
    color: dodgerblue;
    padding: 5px;
    margin: 2px;
}

.product-detail .div_s_products .div_data .fas.fa-star {
    color: rgb(241, 141, 24);
}

.product-detail .div_s_products .btn_blue {

    border-radius: 4px;
    background-color: rgb(70, 100, 180);

    background-position-x: 1px;
    background-position-y: 1px;
    color: white;
    display: inline-block;
    padding: 5px 10px 5px 10px;

}
.product-detail .div_content .tbl {

    color: rgb(82, 82, 82);

}

.product-detail .div_tbls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid gray;
    margin: 5px;
    padding: 6px;
}

.product-detail .div_content .tbl td {
    border: 0px solid red;
}

.product-detail .div_content .tbl tr td:nth-child(2) p {

    color: rgb(82, 82, 111);
    font-size: 14px;
    font-weight: 1;
}

.product-detail .div_content .tbl tr td:nth-child(1) {
    display: inline-block;
    font-weight: 700;
}

.product-detail .div_2 {
    border: 2px solid rgb(230, 230, 230);
    background-color: white;
    padding: 5px;
    margin: 0px;
}

.product-detail .btn_tab {
    border: 2px solid rgb(230, 230, 230);
    background-color: white;
    color: dodgerblue;
    margin: 0;
    padding: 9px;
    width: 100px;
    display: inline-block;
    border-bottom: 0px;     text-align: center;
}
.product-detail a {
    text-decoration: none;

}

.product-detail p {
    font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;

}

.product-detail .center {
    text-align: center;
}


.product-detail .p1 {
    padding: 2px;
}

.product-detail .m1 {
    margin: 2px;
}

.product-detail hr {
    width: 70%;
    margin: 7px;
    color: rgb(230, 230, 230);
}

.product-detail h2 {
    font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.product-detail .noweight {
    font-weight: 1;
}
.product_image_detail {
    position: relative;
}
ul.thumb-list {
    position: absolute;
}
.thumb-list li{
    height: 80px;
    width: 80px;
}
.thumb-list li img{
    height: auto;
    width: 100%;
    min-height: 80px;
    cursor: pointer;
}
.cart-btn {
    background: #fff;
    /*font-size: 13px;
    font-weight: bold;*/
    cursor: pointer;
    float: left;
    margin-right: 10px;
}
.addtocart{
    border-style: double;
    border-width: 2px;
    border-color: red;
    padding: 8px;
    border-radius: 5px;
    color: red !important;
}
.addtowishlist{
    border-style: double;
    border-width: 2px;
    border-color: #008000;
    padding: 8px;
    border-radius: 5px;
    color: #008000 !important;
}
.div_card .center {
    text-align: center !important;
}
.div_content.tab_content {
    justify-content: left;
    padding: 0 4px;
}

.product_image_detail {
    position: relative;
    display: flex;
    flex-wrap:wrap;
}
.thumb-list {
    width: 80px;
    position: relative !important;
    z-index: 9999 !important;
}
div#product-hero-image {
    width: 78%;
}
div#product-hero-image img {
    width: 100%;
}
.product_image_detail  .slick-slide img {
    width: 100%;
    cursor: pointer;
}
/* End Single Product Page CSS */


.product_categories .categories {
    justify-content: center;
    align-items: center;
    border: none; width: 80%;
    font-size: 23px;
    margin-bottom: 0;
}

.slick_slider.slick-initialized, .thumb-list.slick-initialized, .product_slider.slick-initialized, .mypicks.slick-initialized{ display: block;}

.main-container-wrapper .content-container section.product-detail { margin-top: 40px; }
.green_message{
    color:green;
}
.red_message{
    color:red;
}
.div_product_desc .div_save_details select {  margin: 10px 10px 10px; }
.product_categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all_categories_right .image-one span {
    height: 506px;
    background-size: cover;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
ul.social_link {
    display: flex;
}

ul.social_link li {
    margin: 0 10px;
}

ul.social_link li i {
    color: grey;
}

span.red_stock {
    background: firebrick;
}
span.green_stock{
    background: #2a8c4f;
}
span.red_stock, span.green_stock {
    color: #fff;
    font-size: 10px;
    padding: 2px;
}

.cart-content{
    position: relative;
    padding: 10px;
}

.cart_processing {
    opacity: 0.4;
    background: #ddd;
}

.cart_spinner {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}
.global-btn .disabled {
    background: #ddd;
    cursor: not-allowed;
}
#checkout_formdetails span.control-error {
    text-align: left;
    float: left;
    width: 100%;
}
.filter-content .filter-attributes-content {
    display: block!important;
}
.filter-content .remove-filter-link {    background: #1a2655;
    padding: 4px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff!important;
}


.modal-video {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-video-body {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 37%;
}

.modal-video-body .auth-content {
    padding: 0;
}

/* The Close Button */
.close_box {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_box:hover,
.close_box:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item.active .filter-attributes-title .icon{
    background-image: url(../images/arrow-down.svg)!important;
}


/*custom eghl payment gateway class */
.control-group .eghl-field {
    background: #fff;
    border: 2px solid #c7c7c7;
    border-radius: 3px;
    width: 70%;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: .2s cubic-bezier(.4,0,.2,1);
    transition: .2s cubic-bezier(.4,0,.2,1);
    padding: 0 10px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.control-group .eghl-field:focus {
    border-color: #0041ff;
}
.global-btn .btn_style:disabled {
    background: #ddd;
    cursor: not-allowed;
}
/* End custom eghl payment gateway class */


div#checkout {
    display: inline-block;
}

/**** media start ****/
@media screen and (max-width: 1400px)  {
    .all_categories_right img {
        width: 93%;
    }
    .product-information .product-price {flex-direction: column;}
}

@media screen and (max-width: 1370px)  {
    .top.all_categories ul.mycats {width: 95%;}
    .box-design-product .slick-initialized .slick-slide {height: 226px;}
    .all_categories_right .image-one span {
        height: 391px;
    }
    .featured-heading.categories {margin-bottom: 10px;}
    .all_categories .product-image img {
        height: 100px;
        margin: 15px auto;
    }
}


@media screen and (max-width: 1500px) {
    .all_categories_right img {width: 100%;}
    .top.all_categories ul.mycats li {
        margin: 13px;
        width: 12%;
    }
    ul.offer-links {max-width: 85%;}

}
@media screen and (max-width: 1400px) {
    .footer {padding-left: 2%; padding-right: 2%;}
}

@media screen and (max-width: 600px) {
    ul.offer-links {display: none;}
    .header .header-top div.left-content {width: auto;}
}



@media screen and (max-width: 350px) {
    .header .header-top div.left-content ul.logo-container li img { max-width: 180px; }
}
